<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <yotpo>
            <settings>
                <widget_enabled>1</widget_enabled>
                <category_bottomline_enabled>1</category_bottomline_enabled>
                <bottomline_enabled>1</bottomline_enabled>
                <qna_enabled>1</qna_enabled>
                <carousel_product_enabled>1</carousel_product_enabled>
                <carousel_category_enabled>1</carousel_category_enabled>
                <carousel_home_enabled>1</carousel_home_enabled>
                <promoted_products_product_enabled>1</promoted_products_product_enabled>
                <promoted_products_category_enabled>1</promoted_products_category_enabled>
                <promoted_products_home_enabled>1</promoted_products_home_enabled>
                <reviews_tab_enabled>1</reviews_tab_enabled>
                <mdr_enabled>1</mdr_enabled>
                <v3_enabled>0</v3_enabled>
            </settings>
        </yotpo>
        <yotpo>
            <env>
                <yotpo_widget_url>//staticw2.yotpo.com/</yotpo_widget_url>
            </env>
        </yotpo>
        <csp>
            <mode>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
                <admin>
                    <report_only>1</report_only>
                </admin>
            </mode>
        </csp>
    </default>
</config>
